/* ------------------------------
   landing.css – Página principal de Atmos (ajustada)
   Autor: Santiago Fuenmayor Ruiz
------------------------------ */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.landing-container{
  width: 100%;
  height: 100vh;
  display: flex;
}

.Container-info{
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/FondoCirculo.png");
  background-repeat:repeat;
  background-size: 100%;   
  background-position: center;
  z-index: 10;
}

.logo{
  margin-top: -70px;
  margin-left: -20px;
  width: 300px;
}

h1{
  text-align: center;
  margin-top: 50px;
  margin-left: -20px;
  color: #2C3948;
}

.Container-ctas{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
  z-index: 1;
  margin: 0 auto;
}

.Container-ctas button{
  width: 235px;
  height: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.85rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-login{
  background-color: #2C3948;
  color: white;
}

.btn-login:hover, .btn-registro:hover{
  font-size: 0.86rem;
}

.btn-registro{
  background-color: #2C5365;
  color: white;
}

a{
  color: #2C5365;
  font-weight: 300;
  transition: all 0.3s ease;
}

a:hover{
  font-weight: 400;
}

@media (max-width: 1008px) {

  .landing-container{
    flex-direction: column;
  }

  .logo{
    width: 250px;
    margin-top: -80px;
    margin-left: 0;
  }

  h1{
     margin-left: 0;
     margin-top: 15px;
     font-size: 1.6rem;
  }

  .Container-info{
    width: 100%;
    height: 70%;
    background-image: url("../img/FondoCirculoMovil.png");
    background-repeat: repeat;
    background-size: contain;   
    background-position: center center;
  }

  .Container-ctas{
    width: 100%;
    height: 30%;
  }

  .btn-login{
    margin-top: -50px;
  }


}


