/* ESTILOS USADOS EN: login.php, olvidoContrasenya.php, nuevaContrasenya.php */

/* region --- Estilos solo para página de login--- */
.login-container.login-solo {
    display: flex;
    height: 91.1vh;
    background-color: #F9FAFB;
}

.login-solo .login-imagen {
    width: 50%;
    background-image: url('../img/fondoLogin_Registro.svg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.login-solo .contenido-imagen {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.15);
}

.logo-login-desk {
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}


.texto-login-imagen {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    max-width: 90%;
}

 .formulario-login {
     width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-login-pagLogin {
    max-width: 500px;
    min-width: 350px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.formulario-login-pagLogin h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #111827;
}

.campo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo label{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.campo input{
    all: unset;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    border-bottom: 1px solid rgba(17, 24, 39, 0.29);
}

input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.grupo-final {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: -20px;
}

.grupo-final a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #10B981;

}

.grupo-final button {
    height: 45px;
    background-color: #059669;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    color: white;
}

.grupo-final button:hover {
    background-color: #058d63;
}

.texto-secundario{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

@media (max-width: 880px) {

    .login-container.login-solo {
        display: flex;
        flex-direction: column;
        height: 91.1vh;
        background-color: #F9FAFB;
    }

    .login-solo .login-imagen {
        width: 100%;
        height: 200px;
        display: flex;
    }

    .contenido-imagen h2{
        display: none;
    }

    .logo-login-desk {
        max-width: 150px;
        margin-bottom: 0;
    }

    .formulario-login {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 45px;
    }

    .login-solo .login-formulario {
        padding: 4em;
    }

    .formulario-login-pagLogin{
        width: 60%;
    }
}
