* {
    transition: all 0.25s ease;
}


body{
    margin: 0;
    background-color: #F9FAFB;
}

main{
    padding: 10px;
    height: 100%;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F9FAFB;
}

.titulo-container{
    width: 100%;
    height: 50px;
    background-image: url('../img/fondoTitulosDegrade.svg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
}

.titulo-container h2{
    font-family: "Roboto", sans-serif;
    font-size: clamp(18px, 1.5vw, 22px);
    font-weight: 400;
    margin-left: 25px;
    color: black;
}

.mapa-main-container{
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    position: relative;
}

.mapa{
    width: 100%;
    height: 100%;
    background-image: url('../img/mapaUserMapaPage.svg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.contaminantes-panel{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contaminantes-header{
    width: 100%;
    display: flex;
    gap: 5px;
}

.contaminantes-header h3{
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(13px, 1vw, 14px);
    font-weight: 500;
    color: black;
}

.info-btn-contaminantes{
    width: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 70%;
    margin-top: 2px;
}

.contaminantes-selector{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contaminante-option{
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    padding: 0 10px 0 10px;
    gap: 15px;

}

.contaminante-option:hover{

    background-color: #e8e8e8;
}

.contaminante-option img{
    width: 18px;
}

.contaminante-option span{
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(11px, 1vw, 0.8rem);
    text-align: center;
    font-weight: 400;
    margin-top: 6.8px;

}

.search-bar{
    position: absolute;
    top: 10px;
    left: 155px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    height: 40px;
    width: 220px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    padding: 0 10px 0 10px;
}

.search-bar img{
    width: 20px;
}

.search-bar input{
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(13px, 1vw, 14px);
    font-weight: 400;
    color: black;
}

.search-bar input:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.search-suggestions{
    min-height: 35px;
    width: 220px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 55px;
    left: 155px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(13px, 1vw, 14px);
    font-weight: 400;
    color: black;
    display: none;
}

.mapa-indice-container{
    width: 150px;
    height: 160px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 12px;
}

.mapa-indice-container h4{
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(13px, 1vw, 14px);
    font-weight: 500;
    text-align: center;
    color: black;

}

.leyendas_indices-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leyendas_indices-container span{
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(11px, 1vw, 0.8rem);
    font-weight: 300;
    color: #383838;

}

.color-buena{
    display: inline-block;
    width: clamp(14px, 1vw, 15px);
    height: clamp(14px, 1vw, 15px);
    background-color: #55E249;
    border-radius: 5px;
    margin-right: 5px;
}

.color-moderada{
    display: inline-block;
    width: clamp(14px, 1vw, 15px);
    height: clamp(14px, 1vw, 15px);
    background-color: #FFF71B;
    border-radius: 5px;
    margin-right: 5px;
}

.color-insalubre{
    display: inline-block;
    width: clamp(14px, 1vw, 15px);
    height: clamp(14px, 1vw, 15px);;
    background-color: #FF9D00;
    border-radius: 5px;
    margin-right: 5px;
}

.color-mala{
    display: inline-block;
    width: clamp(14px, 1vw, 15px);
    height: clamp(14px, 1vw, 15px);
    background-color: #FF0004;
    border-radius: 5px;
    margin-right: 5px;
}

.fila-indice{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto-indice{
    flex: 1;
}

.map-zoom-controls{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 40px;
    bottom: 10px;
    right: 10px;
    gap: 5px;
    padding: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.map-zoom-controls button{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.map-zoom-controls button:hover{
    background-color: #e1e1e1;
}

#zoom-in img{
    width: 18px;
}

.map-location-btn{
    position: absolute;
    bottom: 95px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.map-location-btn img{
    width: 25px;
}

.timeline-box{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    gap: 10px;
    width: 280px;
    text-align: center;
}

.timeline-controls{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.timeline-controls button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.timeline-controls button:hover{
    background-color: #eeeeee;
}

.timeline-controls button img{
    width: 25px;
}

#tl-play img{
    width: 20px;
}

#timeline-slider{
    -webkit-appearance: none;
    background: #bdbdbd !important;
    height: 8px;
    border-radius: 10px;
}

#timeline-slider::-webkit-slider-runnable-track {
    background: #bdbdbd;
    height: 8px;
    border-radius: 10px;
}


#timeline-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ffffff;   /* color de la bolita */
    width: 20px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -4px; /* centra la bolita verticalmente */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}




@media (max-width: 904px) {

    .mapa-indice-container{
        width: 134px;
        height: 150px;
    }

}

@media (max-width: 575px) {

    .mapa-indice-container{
        left: 10px;
        top: 200px;
    }

}








