/* region --- LAYOUT PRINCIPAL --- */
.perfil-wrapper {
    display: flex;
    height: calc(100vh - 4.5em);
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3.75em;
}
/* endregion */



/* region --- COLUMNA IZQUIERDA --- */
.perfil-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image-container {
    position: relative;
    width: 60%;
}

.perfil-titulo {
    position: absolute;
    top: 1.25em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.1875em; /* Roboto Bold 35px */
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #000;
    z-index: 10;
}

.perfil-ilustracion {
    width: 100%;
    display: block;
    border-radius: 6px;
    max-height: 75vh;
}
/* endregion */



/* region --- DIVISOR CENTRAL --- */
.perfil-divider {
    width: 0.125em;
    height: 70%;
    min-height: 28.125em;
    background: #000;
}
/* endregion */



/* region --- COLUMNA DERECHA --- */
.perfil-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* centra columna entera */
    text-align: center;
}

.perfil-avatar {
    width: 10em;
    margin-bottom: 0.625em;
}

.perfil-info {
    text-align: left;
    width: 15em;
}

.perfil-info h3 {
    margin-bottom: 0.3125em;
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.info-value {
    margin-bottom: 1.25em;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
/* endregion */



/* region --- BOTONES --- */
.perfil-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1em;
}

.btn-edit,
.btn-logout {
    display: block;
    width: 11.25em;
    padding: 0.75em 0;
    margin-top: 1.25em;
    border-radius: 30px;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.btn-edit {
    background: #00966E;
    color: white;
}
.btn-edit:hover {
    background: #007a59;
}

.btn-logout {
    color: #00966E;
    border: 2px solid #00966E;
}
.btn-logout:hover {
    background: #e8f7f2;
}
/* endregion */



/* region --- RESPONSIVE --- */
@media (max-width: 62.5em) {
    .perfil-wrapper {
        flex-direction: column;
        height: auto;
        padding-top: 2.5em;
        gap: 2.5em;
    }

    .perfil-divider {
        display: none;
    }

    .perfil-info {
        text-align: center;
    }
}
/* endregion */
