<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jordi.btlealumnos2021">

    <!-- Alan: Añadiendo permisos necesarios y actualizados -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />


    <!-- Compatibilidad con versiones antiguas -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>


    <application
        android:name=".AtmosApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.BTLE_AlanGuevara"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        >
        <!-- Esto de meta-data es para el mapa, ya veremos para qué -->

        <meta-data
            android:name="osmdroid.basePath"
            android:value="osm"/>
        <meta-data
            android:name="osmdroid.cachePath"
            android:value="osm/cache"/>

        <activity android:name=".MainActivity"
            android:exported="true"/>

        <activity android:name=".RegistroActivity"
            android:exported="true" />

        <activity android:name=".InicioSesionActivity"
            android:exported="true" />

        <activity android:name=".RestablecerContrasenaActivity"
            android:exported="true" />

        <activity android:name=".UserPageActivity"
            android:exported="true" />

        <activity android:name=".PerfilActivity"
            android:exported="true" />

        <activity android:name=".EditarPerfilActivity"
            android:exported="true" />

        <activity android:name=".VincularSensorActivity"
            android:exported="true" />

        <activity android:name=".EscanearQrActivity"
            android:exported="true" />

        <activity android:name=".NotificacionesActivity"
            android:exported="true" />

        <activity android:name=".InfoContaminantesActivity"
            android:exported="true"/>

        <activity android:name=".PrivacidadActivity"
            android:exported="true"/>

        <service
            android:name=".ServicioDeteccionBeacons"
            android:foregroundServiceType="location"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MapasActivity"
            android:exported="true"/>

        <activity android:name=".MenuActivity"
            android:exported="true"/>

        <activity
            android:name=".InfoPopupActivity"
            android:theme="@style/PopupTarjetaReal"/>

        <activity
            android:name=".ActividadSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ActividadInicio"
            android:exported="false"/>

        <service
            android:name=".ServicioRecorridoGPS"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <receiver
            android:name=".RecorridoStopReceiver"
            android:exported="false" />

    </application>

</manifest>
